<mat-card class="main-card">
  <mat-card-content>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <app-main-gril></app-main-gril>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-8" style="background-color: white;">
        <mat-card-actions>
          <p style="text-align: center;">
            <button mat-raised-button routerLink="">Home</button>
            <button mat-raised-button routerLink="education">Education</button>
            <button mat-raised-button routerLink="skill">Skill</button>
            <button mat-raised-button routerLink="project">Project</button>
          </p>
        </mat-card-actions>
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
      </div>
    </div> 
  </mat-card-content>
  
</mat-card>
